*{margin: 0;padding: 0;font: 14px/20px Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;line-height: 1.4;-webkit-font-smoothing:antialiased;}
body{background-color: #fff;}
ul{list-style: none;padding-left: 26px;}
.sysmDiv{width: 94%;margin: 0 auto;}
.sysmH{line-height: 80px;color: #333333;font-size: 26px;text-align: center;margin-bottom: -10px;}
li{color: #878787;line-height: 24px;font-size: 16px;}
.liHeight{margin:10px 0px;}
