%div{class:'col-sm-6',style:'width:60%;'}
  %div{class:'widget-box widget-color-blue2'}
    %div{class:'widget-header'}
      %h4{class:'widget-title lighter smaller'}销售信息详情
    %div{class:'widget-body'}
      %div{class:'widget-main padding-8'}
        -#= render 'form'
