%div{class:'col-sm-6',style:'width:70%;margin-left: 225px;'}
  %div{class:'widget-box widget-color-blue2'}
    %div{class:'widget-header'}
      %h4{class:'widget-title lighter smaller'}新建客户信息
    %div{class:'widget-body'}
      %div{class:'widget-main padding-8'}
        = render 'form'
