/模态框
.modal.fade.bs-example-modal-lg#product_select_modal{'tabindex'=>-1,'role'=>'dialog','aria-labelledby'=>'myModalLabel'}
  .modal-dialog.modal-lg{'role'=>'document'}
    .modal-content
      %table#product_select_table.table.table-striped.table-bordered.table-hover{'data-source'=>"/get_vehicleinfos/get_vehicle_for_sale.json"}
        %thead
          %tr
            %th 车辆信息
            %th 车辆品牌
            %th 车辆名称
            %th 车辆型号
            %th 车辆款式
            %th 车辆颜色
    .modal-footer
      %button.btn.btn-primary#product_select_modal_callback 确定
      %button.btn.btn-default{'data-dismiss'=>'modal'} 关闭
  :javascript
    //初始化商品删除监听
    $("#product_select_table tbody tr").find("a").click(function(){
      $(this).parent().parent().remove();
    });
    //商品选择模态框初始化
    // modal_but_id  触发时的按钮
    // select_table  弹出框的tableid
    // select_modal  弹出框的modalid
    // callback_btn  弹出框的确认按钮
    group_product_select_modal_init("bag_product_select_btn","product_select_table" ,"product_select_modal","product_select_modal_callback",function(data){
        add_select_product("product_id",data);
    });
    //商品选择模态框初始化
    function group_product_select_modal_init(modal_but_id,select_table,select_modal,callback_btn,callback){
      $('#'+select_table).DataTable({
      pageLength: 5,
      bProcessing: true,
       bServerSide: true,
       stateSave: true,
       sAjaxSource: $('#'+select_table).data('source'),
       language: datatable_language,
       "order": [[0,'asc' ]],
        "columnDefs": [ ]
        });
      $('#'+select_modal+' tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
          $(this).removeClass('selected');
        }
        else {
          $('#'+select_table).DataTable().$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
      } );

        //初始化
        $('#'+select_modal).modal({show: false});
        //表格选中事件监听
        $('#'+modal_but_id).click(function(){
          $('#'+select_modal).modal('show');
        });

        $("#"+callback_btn).click(function(){
          data = $('#'+select_table).DataTable().row('.selected').data();
          if(typeof(callback) == "function"){
            callback(data[0]);
            $('#'+select_modal).modal('hide');
          }
        });
    }
    function add_select_product(id,data) {
        if ($("#"+id).val()!=""){
        lark_alert("请清除商品后再添加商品")
        return
       }
      add_shangpin_tr(id , data);
    }
    function add_shangpin_tr(data) {
      var trmodel = $("#bag_product_tr").clone();
      trmodel.find(".vehicle_brand").html(data.vehicle_brand);
      trmodel.find(".vehicle_name").html(data.vehicle_name);
      trmodel.find(".vehicle_model").html(data.vehicle_model);
      trmodel.find(".vehicle_style").html(data.vehicle_style);
      trmodel.find(".vehicle_color").html(data.vehicle_color);
           trmodel.find("a").click(function () {
           $(this).parent().parent().remove();
       });
      trmodel.removeAttr("id");
      trmodel.show();
      $("#bag_product_table tbody").append(trmodel);
      $("#"+id).val(data._id);
    }