<h1>现金购买</h1>
<div class='row' id='search-scope'>
  <div class='col-xs-12 row'>
    <div class='col-xs-1 text-right'>
      <label>姓名：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='customer_mobile' placeholder='姓名' type='tel'>
    </div>

    <div class='col-xs-1 text-right'>
      <label>身份证号：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='customer_mobile' placeholder='身份证号' type='tel'>
    </div>
    <div class='col-xs-1 text-right'>
      <label>品牌：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='customer_mobile' placeholder='品牌' type='tel'>
    </div>
    <div class='col-xs-1 text-right'>
      <label>型号：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='refundaccount' placeholder='型号' type='tel'>
    </div>
  </div>
  <div class='col-xs-12 row'>
    <div class='col-xs-1 text-right'>
      <label>车牌号：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='licenseplatenumber' placeholder='车牌号' type='tel'>
    </div>
    <div class='col-xs-1 text-right'>
      <label>发动机号：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='enginenumber' placeholder='发动机号' type='tel'>
    </div>
    <div class='col-xs-1 text-right'>
      <label>电动机号：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <input class='form-control' id='motornumber' placeholder='电动机号' type='tel'>
    </div>
    <div class='col-xs-1 text-right'>
      <label>购买时间：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <span class='input-daterange input-group' style='display: inline;'>
        <input id='buyingtime' name='buyingtime' style='width: 200px;' type='text'>
      </span>
    </div>
  </div>
  <div class='col-xs-12 row'>
    <div class='col-xs-1 text-right'>
      <label>保养时间：</label>
    </div>
    <div class='col-xs-2 text-left'>
      <span class='input-daterange input-group' style='display: inline;'>
        <input id='scheduledmaintenance' name='scheduledmaintenance' style='width: 200px;' type='text'>
      </span>
    </div>
    <div class='col-xs-1 col-xs-offset-1 text-right'>
    </div>
    <div class='col-xs-1 text-left'>
      <a class='btn btn-primary btn-sm' id='search'>搜索</a>
      <input id='issearch' name='issearch' type='hidden' value="0">
    </div>
  </div>
</div>

<div class='dataTables_wrapper form-inline no-footer'>
  <table class='table table-hover' data-source='/cash_purchases.json' id='cash_purchase_datatable'>
    <thead>
    <tr>
      <th>品牌</th>
      <th>型号</th>
      <th>姓名</th>
      <th>身份证</th>
      <th>车牌号</th>
      <th>颜色</th>
      <th>电动机号码</th>
      <th>发动机号码</th>
      <th>购买日起</th>
      <th>车价钱</th>
      <th>预定保养时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
<a  href="/#<%=new_cash_purchase_path%>" class="btn btn-success">新建信息</a>