.row
  .col-xs-12
    .row
      /当月商品曝光量排名
      /.col-sm-6#exposure_product_container
      /近几日各门店有效订单量统计
      .col-sm-6
        %a.btn.btn-primary#consumer_infos_select_btn 选择客户信息
        %span#consumer_infos_select_callback



