.row
  .col-xs-12
    .row
      /选择客户信息demo
      .col-sm-6
        %a.btn.btn-primary#consumer_infos_select_btn 选择客户信息
        %span#consumer_infos_select_callback
      /选择车辆信息demo
      .col-sm-6
        %a.btn.btn-primary#vehicleinfo_select_btn 选择车辆信息
        %span#vehicleinfo_select_callback



