%div{class:'page-header'}
  %h1 车辆信息列表
.well
  .row#search-scope
    .col-xs-12.row
      .col-xs-1.text-right
        %label{for:'vehicle_brand'} 车辆品牌：
      .col-xs-1.text-left
        %input#vehicle_brand.form-control{:placeholder => '车辆品牌',:type => 'text'}
      .col-xs-1.text-right
        %label{for:'vehicle_name'} 车辆名称：
      .col-xs-2.text-left
        %input#vehicle_name.form-control{:placeholder => '车辆名称',:type => 'text'}
      .col-xs-1.text-right
        %label{for:'vehicle_model'} 车辆类型：
      .col-xs-1.text-left
        %input#vehicle_model.form-control{:placeholder => '车辆类型',:type => 'text'}
      .col-xs-1.text-right
        %label{for:'vehicle_style'} 车辆款式：
      .col-xs-1.text-left
        %input#vehicle_style.form-control{:placeholder => '车辆款式',:type => 'text'}
      .col-xs-1.text-right
        %a.btn.btn-primary.btn-sm#search 搜索

= link_to '添加车辆信息', '', 'data-href' => new_vehicleinfo_path,class:"btn btn-primary"
.dataTables_wrapper.form-inline.no-footer
  %table.table.table-hover#vihicle_infos_table{'data-source'=>"/vehicleinfos.json"}
    %thead
      %tr
        %th 车辆品牌
        %th 车辆名称
        %th 车辆型号
        %th 发动机型号
        %th 车辆颜色
        %th 车辆款式
        %th 创建时间
        %th 操作
    %tbody


